<%= form_for(@question, class: 'form-horizontal', role: 'form') do |f| %>  
    <div class="container-sindan">
         <div class="row">
             <div class="col-12">
                 <div class="quiz">
                 <p>Question1. プロメテウス火山のモデルになった、ヴェスヴィオ火山が有るのはイタリアのどの地域？</p>
                 </div>
                 <%= image_tag("volcano.png", size:"375x250") %>
             </div>
             <div class="col-6">
                 <p><%= f.check_box :question, {multiple: true}, "1", nil %>ポンペイ</p>
             </div>
             <div class="col-6">
         
                 <p><%= f.check_box :question, {multiple: true}, "2", nil %>ヴェネツィア</p>
             </div>
             <div class="col-12">
                 <div class="quiz">
                 <p>Question2. 東京ディズニーランドのシンデレラ城の地下には何がある？</p>
                 </div>
                 <%= image_tag("castle.png", size:"375x250") %>
             </div>
             <div class="col-6">
                 <p><%= f.check_box :question, {multiple: true}, "1", nil %>会員制のバー</p>
             </div>
             <div class="col-6">
                 <p><%= f.check_box :question, {multiple: true}, "2", nil %>プール</p>
             </div>
             <div class="col-12">
                 <div class="quiz">
                 <p>Question3. ソアリン：ファンタスティック・フライトで最後に到着する場所といえばどこ？</p>
                 </div>
                 <%= image_tag("soaring.png", size:"375x250") %>
             </div>
             <div class="col-6">
                 <p><%= f.check_box :question, {multiple: true}, "1", nil %>東京タワー</p>
             </div>
             <div class="col-6">
                 <p><%= f.check_box :question, {multiple: true}, "2", nil %>東京ディズニーシー</p>
             </div>
             <div class="col-12">
                 <div class="quiz">
                 <p>Question4. ホテルハイタワーの現在のオーナーは誰？</p>
                 </div>
                 <%= image_tag("hotelhightower.png", size:"375x250") %>
             </div>
             <div class="col-6">
                 <p><%= f.check_box :question, {multiple: true}, "1", nil %>NY保存協会</p>
             </div>
             <div class="col-6">
                 <p><%= f.check_box :question, {multiple: true}, "2", nil %>ハイタワー3世</p>
             </div>
         </div>
     </div>
 
     <div class="sindanbotan">
         <%= f.submit "結果を見る", class: "starbucks" %>
     </div>
 <% end %>
