<div class="intoro">
    <p>Result...</p>
</div>
<% if @question.question == "1221" %>
    <div class="tweet">
        <div class="result">
            <p>全問正解！</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
        
    <div class="ramen">
        <p>ディズニーについて何でも知ってるエキスパート！</p>
        <p>お友達にも教えてあげてくださいね☺︎</p>
    </div>

<% elsif @question.question == "1112" %>
    <div class="tweet">
            <div class="result">
                <p>1問間違い</p>
            </div>
            <div class="olaf"
                <%= image_tag("elsa.png", size:"275x250") %>
            </div>
    </div>
    <div class="ramen">
        <p>かなりのディズニー好き！</p>
        <p>満点目指して頑張りましょう</p>
    </div>

<% elsif @question.question == "1121" %>
    <div class="tweet">
            <div class="result">
            <p>1問間違い</p>
            </div>
            <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
         <p>かなりのディズニー好き！</p>
         <p>満点目指して頑張りましょう</p>
    </div>

<% elsif @question.question == "1122" %>   
<div clas="tweet">
        <div class="result">
        <p>2問間違い</p>
        </div>
        <div class="olaf">
        <%= image_tag("elsa.png", size:"275x250") %>
        </div>
</div> 
    <div class="ramen">
        <p>半分正解！</p>
        <p>これからディズニーについてもっと知れるかも？</p>
    </div>

<% elsif @question.question == "1211" %>
<div class="tweet">
        <div class="result">
            <p>1問間違い</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
</div>
    <div class="ramen">
        <p>かなりのディズニー好き！</p>
        <p>満点目指して頑張りましょう</p>
    </div>

<% elsif @question.question == "1212" %>
    <div class~"tweet">
        <div class="result">
            <p>2問間違い</p>
        </div>
        <div class="olaf"
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>半分正解！</p>
        <p>これからディズニーについてもっと知れるかも？</p>
    </div>

<% elsif @question.question == "1111" %>
    <div class="tweet">
        <div class="result">
            <p>2問間違い</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>半分正解！</p>
        <p>これからディズニーについてもっと知れるかも？</p>
    </div>

<% elsif @question.question == "1222" %>
    <div class="tweet">
        <div class="result">
            <p>1問間違い</p>
        </div>
        <div class="olaf"
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>かなりのディズニー好き！</p>
        <p>満点目指して頑張りましょう</p>
    </div>

<% elsif @question.question == "2111" %>
    <div class="tweet">
        <div class="result">
            <p>1問正解</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"250x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>ディズニー初心者さん</p>
        <p>これからたくさん豆知識を読んでみてくださいね</p>
    </div>

<% elsif @question.question == "2112" %>
    <div class="tweet">
        <div class="result">
            <p>全問間違い...</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>これからディズニーマニアになること間違いなし</p>
        <p>是非パークに足を運んでみてくださいね</p>
    </div>

<% elsif @question.question == "2121" %>
    <div class="tweet">
        <div class="result">
            <p>2問間違い</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>半分正解！</p>
        <p>これからディズニーについてもっと知れるかも？</p>
    </div>

<% elsif @question.question == "2122" %>
    <div class="tweet">
        <div class="result">
            <p>1問正解</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>ディズニー初心者さん</p>
        <p>これからたくさん豆知識を読んでみてくださいね</p>
    </div>

<% elsif @question.question == "2211" %>
    <div class="tweet">
        <div class="result">
            <p>2問間違い</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>半分正解！</p>
        <p>これからディズニーについてもっと知れるかも？</p>
    </div>

<% elsif @question.question == "2212" %>
    <div class="tweet">
        <div class="result">
            <p>1問正解</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>ディズニー初心者さん</p>
        <p>これからたくさん豆知識を読んでみてくださいね</p>
    </div>

<% elsif @question.question == "2221" %>
    <div class="tweet">
        <div class="result">
            <p>1問間違い</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>かなりのディズニー好き！</p>
        <p>満点目指して頑張りましょう</p>
    </div>   

<% elsif @question.question == "2222" %>
    <div class="tweet">
        <div class="result">
            <p>2問間違い</p>
        </div>
        <div class="olaf">
            <%= image_tag("elsa.png", size:"275x250") %>
        </div>
    </div>
    <div class="ramen">
        <p>半分正解！</p>
        <p>これからディズニーについてもっと知れるかも？</p>
    </div>

<% end %>


<div class="water">
    <div class="apple">
        <%= image_tag("olaf.png", size:"200x320") %>
    </div>
    <div class="orangejuice">
        <%= link_to "トップに戻る", yuzus_top_path, class: "link" %>
    </div>
    <div class"coke">
        <%= image_tag("snowflakea.png", size:"75x50") %>
    </div>
    <div class"sprite">
        <%= image_tag("snowflakeb.png", size:"75x50") %>
    </div>
</div>