<div class=baymax>
  <h1>New Post</h1>
</div>

<div class="heihei">
  <div class="maui">
    <%= image_tag("tinkerbell.png", size: "200x200") %>
  </div>

  <div class="moana">
    <p>あなたのディズニー知識を教えて！</p>
  </div>
</div>

<div class=stitch>
  <%= form_for @yuzu do |f| %>

    <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :title, size: 50, class: "mulan" %>
  </div>
    
    <div class="tangled">
      <%= f.label :Body %>
      <%= f.text_field :body, :size => 70, :class => "frozen" %>
    </div>

    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

    <%= f.submit "投稿する" %>
  <% end %>
</div>

<%= link_to "一覧に戻る", yuzus_path %>