<div class=andy>
  <h1>Post</h1>
</div>

<div class="osayu">
  <div class="ocha">
    <%= image_tag @yuzu.image_url, size: "250x200" %>
  </div>
  <div class="mike">
    <%= image_tag("Eeyore.png", size: "100x150") %>
  </div>
</div>

<div class="omizu">
  <p><%= @yuzu.body %></p>
</div>


  <div class="buzz">
    <%= link_to "編集する", edit_yuzu_path(@yuzu.id) %>
  </div>

<div class="namacha">
  <p>いいねしたユーザー</p>
  <% @yuzu.liked_users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</div>

<div class=jessey>
  <div class="comment-wrapper">
    <p>Comments</p>
    <% @comments.each do |c| %>
        <%= c.user.email unless c.user.blank? %>
        <%= c.content %>
        
  </div>
      <br>
  <% end %>
  
  <div class="pencil">
  <% if user_signed_in? %>
    <%= form_with(model: [@yuzu, @comment], local: true) do |f| %>
      <%= f.text_area :content %><br>
      <%= button_tag "コメントする" %>
        <i class="far fa-comments"></i> 
      <% end %>
    <% end %>
  </div>
  
</div>


<div class="hojicha">
  <%= link_to "投稿一覧に戻る", yuzus_path %>
</div>

<div class="ayataka">
  <%= image_tag("pooh.png", size: "150x150") %>
</div>