<div class="donald">
    <div class="minnie">
     <h1>Disney<br>Random<br>Facts</h1>
</div>
<div class="mickey">
<%= image_tag("disney top.png") %>
</div>
</div>

<div class="daisy">
<h3>Disney Random Factsとは...<br>
このサイトは、普段何気なく通り過ぎているパークの
一角や当たり前のように載っているアトラクションの<br>
背景や豆知識をみんなで共有していくコミュニティサイトです♡<br>
このサイトを訪れたあなたが、少しでも多くのディズニーマジックを感じられますように。</h3> 
</div>

<div class="goofy">
<div class="chip">
<%= link_to yuzus_path do %>
    <%= image_tag("mickey.png", size:"300x200") %>
    <p>Timeline</p>
    <% end %>
</div>
<div class="dale">
    <%= link_to perfumes_path do %>
        <%= image_tag("Minnie.png", size:"300x200") %>
        <p>Quiz</p>
    <% end %>
</div>
</div>